# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug information files
*.dwo

# Ignore build and temporary files
build/
*.user
*.pro.user
*.log

# Ignore Qt Creator and Clang cache
*.qtc_clangd/
*.cache/
*.idx

# Ignore OS and IDE junk
.DS_Store
Thumbs.db

